<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gitlab.repo.search</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>056B1BED-982C-4614-891E-C93A2D4F84D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>485CF302-3C7A-4FA0-ADAA-9B26F692FABB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F1EFA10-3EE3-4872-93A3-53FC8F86584B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FF3DCD7-BE0C-43F2-BE12-F0790312D34B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFE468A1-B122-4428-8817-6CFAAB4B4664</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D88D8B86-57B1-4D9E-9961-80417D6ACEB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11994B72-1730-43F1-8F01-47C957CC8E86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14CC72EC-D8CC-4DEA-B75C-4C10A0EEE03A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61923611-0DE3-4F9C-8CDC-D70D16C4FCBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32A33526-0C46-42CA-AFC8-543FD58014B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F73B1C2E-54EE-4019-A42B-BD9D9B73C547</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F485FDD0-926C-48B4-976E-3D1B8829E361</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7165625D-05C4-4020-9C58-2DF94EFEFFD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>383D671B-E5A1-4C18-A6C6-CCB894CA0E3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C0D671-004B-431A-97C6-AFFE3F2AA587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AE61659-D89A-4D1F-8901-0584B62AB41A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>482C636B-5D86-4798-A47B-B1E4D4E21448</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>485CF302-3C7A-4FA0-ADAA-9B26F692FABB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4E83333-4527-438A-845F-D722F5C33D2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B5D500E-5E28-4CD3-9645-DD3DEDF9DD54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBBBED1A-BFA8-419B-A48F-3867937525D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>510B3360-D29E-4C41-9704-1976AF1CD9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C064BC7B-5CA2-4832-BCDE-0828BE4E20CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F1EFA10-3EE3-4872-93A3-53FC8F86584B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F25B53D2-B32A-43FB-B1FD-DD3D58F7F020</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14CC72EC-D8CC-4DEA-B75C-4C10A0EEE03A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63CF89F6-A7FB-46AF-83FE-EAD0D2CCE414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>61923611-0DE3-4F9C-8CDC-D70D16C4FCBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B5D500E-5E28-4CD3-9645-DD3DEDF9DD54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>63CF89F6-A7FB-46AF-83FE-EAD0D2CCE414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFA3565B-19A7-490A-BD72-72CA3FA364EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65EB1C29-1576-476D-B714-69DBD3D9A163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056B1BED-982C-4614-891E-C93A2D4F84D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</key>
		<array/>
		<key>9AE61659-D89A-4D1F-8901-0584B62AB41A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CAD6E6-02DE-40FD-B727-7BFA755B1ED9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B08490FC-0409-414C-A3AE-5168140A3507</key>
		<array/>
		<key>BBBBED1A-BFA8-419B-A48F-3867937525D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FF3DCD7-BE0C-43F2-BE12-F0790312D34B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEF310CD-1C92-4103-9792-A5D3BCCECAFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90C0585-4A41-471C-B452-546FF6E5B15C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFA3565B-19A7-490A-BD72-72CA3FA364EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>383D671B-E5A1-4C18-A6C6-CCB894CA0E3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C064BC7B-5CA2-4832-BCDE-0828BE4E20CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32A33526-0C46-42CA-AFC8-543FD58014B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D88D8B86-57B1-4D9E-9961-80417D6ACEB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3258B4-8485-44B0-9872-45FE29E6AB1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F25B53D2-B32A-43FB-B1FD-DD3D58F7F020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B08490FC-0409-414C-A3AE-5168140A3507</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F485FDD0-926C-48B4-976E-3D1B8829E361</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7165625D-05C4-4020-9C58-2DF94EFEFFD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>F4E83333-4527-438A-845F-D722F5C33D2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11994B72-1730-43F1-8F01-47C957CC8E86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F73B1C2E-54EE-4019-A42B-BD9D9B73C547</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEF310CD-1C92-4103-9792-A5D3BCCECAFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFE468A1-B122-4428-8817-6CFAAB4B4664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65EB1C29-1576-476D-B714-69DBD3D9A163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>com30n</string>
	<key>description</key>
	<string>Making search repos in gitlab easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gitlab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C90C0585-4A41-471C-B452-546FF6E5B15C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python clone.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F73B1C2E-54EE-4019-A42B-BD9D9B73C547</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $GIT_DIR 
git clone {query} 2&gt;&amp;1 | xargs echo -n</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEF310CD-1C92-4103-9792-A5D3BCCECAFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python show_related_links.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F485FDD0-926C-48B4-976E-3D1B8829E361</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>downloading all repo ...</string>
				<key>script</key>
				<string>/usr/bin/python search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Searching projects by gitlab repo</string>
				<key>title</key>
				<string>Gitlab search repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32A33526-0C46-42CA-AFC8-543FD58014B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:web_url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7165625D-05C4-4020-9C58-2DF94EFEFFD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:cmd}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>CMD_SEARCH</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C064BC7B-5CA2-4832-BCDE-0828BE4E20CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python update_index.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>glup</string>
				<key>subtext</key>
				<string>As arg give acc number, or no arg for update all accs</string>
				<key>text</key>
				<string>Update cached data from gitlab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>482C636B-5D86-4798-A47B-B1E4D4E21448</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:cmd}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>CMD_UPDATE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0F1EFA10-3EE3-4872-93A3-53FC8F86584B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>glm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>downloading all repo ...</string>
				<key>script</key>
				<string>/usr/bin/python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Searching projects by gitlab repo</string>
				<key>title</key>
				<string>Gitlab search repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>510B3360-D29E-4C41-9704-1976AF1CD9DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>glal</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>from accounts import ManageGitlabAccounts

ManageGitlabAccounts.print_all_accounts()
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B08490FC-0409-414C-A3AE-5168140A3507</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Try put your gitlab url again.</string>
				<key>title</key>
				<string>Gitlab url is not valid.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A3258B4-8485-44B0-9872-45FE29E6AB1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:cmd}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>CMD_ACCOUNT_LIST</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F25B53D2-B32A-43FB-B1FD-DD3D58F7F020</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBBBED1A-BFA8-419B-A48F-3867937525D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glaa</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Type your full gitlab url (with https://)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>61923611-0DE3-4F9C-8CDC-D70D16C4FCBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>put here tokent from your gitlab</string>
				<key>text</key>
				<string>Type your token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>056B1BED-982C-4614-891E-C93A2D4F84D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from os import environ
from accounts import ManageGitlabAccounts
from workflow import Workflow3 as Workflow, ICON_WEB, ICON_WARNING, ICON_INFO, PasswordNotFound

wf = Workflow()
logger = wf.logger

query = "{query}"

gitlab_token_name = environ.get('gitlab_token_name')
gitlab_token = environ.get('gitlab_token')
gitlab_url = environ.get('gitlab_url')

try:
	ManageGitlabAccounts.add_token_name(gitlab_token_name)
	ManageGitlabAccounts.add_token(gitlab_token)
	ManageGitlabAccounts.add_url(gitlab_url)
	ManageGitlabAccounts.save_account()
	sys.stdout.write('glm')
except Exception as e:
	logger.exception(e)
	sys.stdout.write('1')</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4E83333-4527-438A-845F-D722F5C33D2B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>put here token name</string>
				<key>text</key>
				<string>Type your token name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FFE468A1-B122-4428-8817-6CFAAB4B4664</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:url_valid}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D88D8B86-57B1-4D9E-9961-80417D6ACEB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Now we are loading all repos into cache.</string>
				<key>title</key>
				<string>Your GitLab account has been saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11994B72-1730-43F1-8F01-47C957CC8E86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:cmd}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>CMD_ADD_ACCOUNT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>14CC72EC-D8CC-4DEA-B75C-4C10A0EEE03A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg": ["{var:gitlab_url}", "{var:gitlab_token_name}", "{query}"],
    "config" : {
    },
    "variables" : {
      "gitlab_token" : "{query}",
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>485CF302-3C7A-4FA0-ADAA-9B26F692FABB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "config" : {
    },
    "variables" : {
      "gitlab_token_name" : "{query}",
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>65EB1C29-1576-476D-B714-69DBD3D9A163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
    },
    "variables" : {
      "gitlab_url" : "{query}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>4B5D500E-5E28-4CD3-9645-DD3DEDF9DD54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "config" : {
    },
    "variables" : {
      "url_valid" : "{query}",
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>0FF3DCD7-BE0C-43F2-BE12-F0790312D34B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import sys
from accounts import ManageGitlabAccounts
from workflow import Workflow3 as Workflow, ICON_WEB, ICON_WARNING, ICON_INFO, PasswordNotFound

wf = Workflow()
logger = wf.logger

result = ManageGitlabAccounts.del_account("{query}")
sys.stdout.write(result)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>383D671B-E5A1-4C18-A6C6-CCB894CA0E3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>14C0D671-004B-431A-97C6-AFFE3F2AA587</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>glad</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Deleting...</string>
				<key>script</key>
				<string>from accounts import ManageGitlabAccounts

ManageGitlabAccounts.print_all_accounts()
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose account for deleting</string>
				<key>title</key>
				<string>Delete GitLab account from keychain</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BFA3565B-19A7-490A-BD72-72CA3FA364EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(query)
  tell application "Alfred 3" to search query
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>58CAD6E6-02DE-40FD-B727-7BFA755B1ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:cmd}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>CMD_DEL_ACCOUNT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>63CF89F6-A7FB-46AF-83FE-EAD0D2CCE414</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>glm</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9AE61659-D89A-4D1F-8901-0584B62AB41A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056B1BED-982C-4614-891E-C93A2D4F84D0</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>0F1EFA10-3EE3-4872-93A3-53FC8F86584B</key>
		<dict>
			<key>note</key>
			<string>cmd: updateRepoCache</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>0FF3DCD7-BE0C-43F2-BE12-F0790312D34B</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>11994B72-1730-43F1-8F01-47C957CC8E86</key>
		<dict>
			<key>xpos</key>
			<integer>1360</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>14C0D671-004B-431A-97C6-AFFE3F2AA587</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>14CC72EC-D8CC-4DEA-B75C-4C10A0EEE03A</key>
		<dict>
			<key>note</key>
			<string>cmd: addAccount</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>32A33526-0C46-42CA-AFC8-543FD58014B9</key>
		<dict>
			<key>note</key>
			<string>Just search in your repos and open url with it.</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>383D671B-E5A1-4C18-A6C6-CCB894CA0E3A</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>482C636B-5D86-4798-A47B-B1E4D4E21448</key>
		<dict>
			<key>note</key>
			<string>Update caches.
May not work.</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>485CF302-3C7A-4FA0-ADAA-9B26F692FABB</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>4B5D500E-5E28-4CD3-9645-DD3DEDF9DD54</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>510B3360-D29E-4C41-9704-1976AF1CD9DE</key>
		<dict>
			<key>note</key>
			<string>Main manager.
Show you all all available methods.</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>58CAD6E6-02DE-40FD-B727-7BFA755B1ED9</key>
		<dict>
			<key>note</key>
			<string>Костыль для перевызова alfred с другими параметрами</string>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>61923611-0DE3-4F9C-8CDC-D70D16C4FCBA</key>
		<dict>
			<key>note</key>
			<string>Add new gitlab account.</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>63CF89F6-A7FB-46AF-83FE-EAD0D2CCE414</key>
		<dict>
			<key>note</key>
			<string>cmd: delAccount</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>65EB1C29-1576-476D-B714-69DBD3D9A163</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>7165625D-05C4-4020-9C58-2DF94EFEFFD4</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>7A3258B4-8485-44B0-9872-45FE29E6AB1D</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>8035BC22-AAFA-4AD6-9802-B136F1AA92EF</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9AE61659-D89A-4D1F-8901-0584B62AB41A</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>B08490FC-0409-414C-A3AE-5168140A3507</key>
		<dict>
			<key>note</key>
			<string>List your gitlabs accounts.</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>BBBBED1A-BFA8-419B-A48F-3867937525D4</key>
		<dict>
			<key>note</key>
			<string>Check your email.
Not implemented.</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>BEF310CD-1C92-4103-9792-A5D3BCCECAFE</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>BFA3565B-19A7-490A-BD72-72CA3FA364EB</key>
		<dict>
			<key>note</key>
			<string>Delete gitlab account.</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>C064BC7B-5CA2-4832-BCDE-0828BE4E20CF</key>
		<dict>
			<key>note</key>
			<string>cmd: gitlabSearch.</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>C90C0585-4A41-471C-B452-546FF6E5B15C</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D88D8B86-57B1-4D9E-9961-80417D6ACEB0</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>F25B53D2-B32A-43FB-B1FD-DD3D58F7F020</key>
		<dict>
			<key>note</key>
			<string>cmd: listAccounts</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>F485FDD0-926C-48B4-976E-3D1B8829E361</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>F4E83333-4527-438A-845F-D722F5C33D2B</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>F73B1C2E-54EE-4019-A42B-BD9D9B73C547</key>
		<dict>
			<key>note</key>
			<string>Create ENV variable GIT_DIR for cloning repos into it.</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FFE468A1-B122-4428-8817-6CFAAB4B4664</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GIT_DIR</key>
		<string>/Users/com30n/work/git</string>
		<key>cmd</key>
		<string>''</string>
		<key>gitlab_token</key>
		<string>jJx69r2HSXhdN34CtnFQ</string>
		<key>gitlab_url</key>
		<string>https://gitlab.com/</string>
		<key>http_url_to_repo</key>
		<string>''</string>
		<key>new_gitlab_url</key>
		<string>https://git</string>
		<key>ssh_url_to_repo</key>
		<string>''</string>
		<key>web_url</key>
		<string>''</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>new_gitlab_url</string>
	</array>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/com30n/Gitlab-alfred3-workflow</string>
</dict>
</plist>
